@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lexend+Deca&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
.navbar-brand{
    font-family: 'Lexend Deca', sans-serif;
}
body{
    font-family: 'DM Sans', sans-serif;   
    font-weight: 500;
}
.bgblue{
    background: rgb(16,51,120);
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw) );
    padding-bottom: 25%;
    /* height: calc(100vh - 65px); */
}
.btn-light{
    background-color: #4285f4;
    border-color: #4285f4;
}
.btn-dark{
    background-color: #405c93;
    border-color: #405c93;
}
.bgblue nav.navbar {
    padding-top: 15px;
    padding-bottom:15px;
}

.bgblue ul.navbar-nav {
    padding: 0;
}
.bannerImg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30%;
}
.bannerText h2 {
    color: #fff;
    font-size: 48px;
    letter-spacing: 0.8px;
}
p.desc-text {
    color: #c3ccdd;
    font-size: 20px;
    max-width: 590px;
    margin: 0 auto;
    padding: 18px 0 30px 0;
    font-weight: 400;
}
a.nav-link, a.btn {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.bannerText {
    padding-top: 10%;
    padding-bottom: 5%;
}
.btn{
    border-radius: 3px;
}
a.ctaBtn {
    max-width: 140px;
    width: 100%;
    line-height: 36px;
    font-size: 16px;
}
.bannerImg img{
    box-shadow: 0px 130px 60px -40px #dbdfe6;
    margin-bottom: 12%;
    border-radius: 10px;
}

.bannerText h3.bg-text {
    font-size: 44px;
    color: #24374e;
    font-weight: 700;
}
.descDetails p {
    color: #24374e;
    font-size: 17px;
    letter-spacing: 0.1px;
    line-height: 28px;
}

.descDetails ul {
    padding: 12px 0 32px 0;
    margin: 0;
    list-style: none;
}

.descDetails ul li:before {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 20px;
    font-weight: bolder;
}

.descDetails ul li {color: #24374e;font-size: 17px;letter-spacing: 0.1px;line-height: 28px; padding-bottom: 12px; }

a.link {
    font-size: 18px;
    color: #4285f4;
    display: block;
}
a.link img {
    margin-left: 8px;
}
.revenueGrowthImg .img-fluid {
    box-shadow: 0px 35px 40px -10px #dbdfe6;
    margin-bottom: 0;
    border-radius: 10px;
    max-width: 96%;
    margin: 0 auto;
}
.outreachExp.bggradiant {
    border-top: 1px solid #e2eaf3;
    margin-top: 10%;
    background-image: linear-gradient(#f9fbfd, #fff);
    padding-top: 2%;
}

.dark-bgc {
    background: #16202d;
    margin-top: 11%;
    padding-bottom: 6%;
}

.bannerText h3.bg-text.white {
    color: #fff;
}

.steps {
    background: #fff;
    padding: 45px;
    border-radius: 5px;
}
.stepRow .shadowStep {
    padding: 0 7.5px 15px;
}

.steps .square {
    width: 38px;
    height: 38px;
    border-radius: 10px;
}

.pink .square {
    background: #ff8282;
}
.blue .square {
    background: #63a1ff;
}
.yellow .square {
    background: #f9c53f;
}
.lgreen .square {
    background: #4ce0ce;
}

.steps h5.step-title {
    font-size: 20px;
    color: #24374e;
    margin-top: 22px;
    font-weight: 700;
    margin-bottom: 17px;
}

.steps p.step-desc {
    font-size: 18px;
    color: #24374e;
}
.thumbnail {
    height: 185px;
    overflow: hidden;
}

.maxCols h3.title {
    color: #24374e;
    font-size: 24px;
    font-weight: 700;
    max-width: 85%;
    margin-top: 34px;
    margin-bottom: 24px;
}

span.titborder {
    width: 100%;
    max-width: 50px;
    height: 4px;
    background: #4285f4;
    display: block;
    margin-bottom: 24px;
}

.maxCols ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.maxCols ul li {
    position: relative;
    padding-left: 40px;
    color: #24374e;
    font-size: 16.6px;
    margin-bottom: 30px;
}
.maxCols ul li:before {
    background-image: url(../images/tickGray.jpg);
    display: block;
    width: 40px;
    height: 18px;
    content: "";
    position: absolute;
    background-size: 50%;
    background-repeat: no-repeat;
    left: 5px;
    top: 10px;
}

.bglightblue {
    background: #f1f6fd;
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(#f1f6fd, #fff);
    margin-top: 10%;
    padding-bottom: 10%;
}

.bglightblue .bannerText {
    padding-top: 7%;
}

.bglightblue .bannerText span.blue {
    color: #4285f4;
}

.box {
    text-align: center;
    background: #fff;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0px 12px 22px 3px rgb(0 0 0 / 0.05);
    max-width: 228px;
    margin: 0 auto;
    height: 213px;
}

.box img {
    max-width: 33px;
}

.box:nth-child(even) { margin-top: 52px;}

.box h5 {
    color: #24374e;
    font-size: 16.6px;
    padding-top: 22px;
    line-height: 20px;
}


.blogImg img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blog .bannerText {
    padding-bottom: 3%;
}

span.date {
    color: #8a8e9d;
    font-size: 14px;
    margin-top: 25px;
    display: block;
    text-transform: uppercase;
}

h4.blogTitle {
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0;
    line-height: 40px;
}

p.blogDesc {color: #24374e;padding-right: 20px;line-height: 28px;margin-bottom: 22px;}

.blog a.link {
    font-size: 16px;
}

.blogImg {
    max-height: 280px;
    overflow: hidden;
}

.footer .footer-brand {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  .footer .footer-brand svg {
    height: 1rem;
  }
  .footer.footer-dark {
    color: rgba(255, 255, 255, 0.6);
  }
  .footer.footer-dark hr {
    border-color: rgba(255, 255, 255, 0.1);
  }
  .footer{
    color: #273545;
    font-weight: 300;
  }
  .footer a {
    color: #4285f4;
    font-weight: 300;
    margin: 0;
    transition: 1s margin cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  
  .text-uppercase-expanded{
    font-weight: 700;
    text-transform: uppercase;
}
.icon-list-social-link i {
    font-size: 18px;
    padding: 0 5px;
}
footer.footer {
    padding-top: 15%;
}


span.circle {
    width: 20px;
    height: 20px;
    background: #ed656b;
    border-radius: 50%;
    top: 25%;
    right: 15%;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

span.circle.green {
    background: #9fd65a;
    left: 12%;
    top: 120%;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.bgblue span.objs {
    display: block;
    position: absolute;
}



span.traingle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #9fd65a;
    transform: rotate(-35deg);
    left: 25%;
    top: 75%;
    animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
    0%   { transform: translateY(40px) rotate(0deg);}
    50% { transform: translateY(-40px) rotate(360deg);}
    100%   { transform: translateY(40px) rotate(0deg);}
  }
span.diamond {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #f2a166;
    top: 20%;
    left: 13%;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

span.diamond:after {content: "";position: absolute;left: -10px;top: 10px;width: 0;height: 0;border: 10px solid transparent;border-top-color: #f2a166;}

span.line {
    width: 30px;
    height: 4px;
    background: #00cae5;
    transform: rotate(-45deg);
    right: 20%;
    top: 55%;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}








/* Humburger Menu CSS start */

.hamburger-menu-button {
    padding: 6px;
    display: block;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 0;
    outline: none !important;
    width: 15px;
    height: 15px;
    padding: 17px 30px;
    right: 40px;
    top: 16px;
    z-index: 3;
  }
  .hamburger-menu-button-open {
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -12px;
  }
  .hamburger-menu-button-close::before, .hamburger-menu-button-close::after {
    background-color: #000 !important;
}
  .hamburger-menu-button-open, 
  .hamburger-menu-button-open::before, 
  .hamburger-menu-button-open::after {
    position: absolute;
    width: 24px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .hamburger-menu-button-open::before, 
  .hamburger-menu-button-open::after {
    left: 0;
    content: "";
  }
  .hamburger-menu-button-open::before {
    top: 6px;
  }
  .hamburger-menu-button-open::after {
    bottom: 6px;
  }
  .hamburger-menu-button-close {
    background: transparent;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .hamburger-menu-button-close::before {
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
  }
  .hamburger-menu-button-close::after {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
  .ham-menu {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: absolute;
    top: -100%;
    z-index: 1;
    transition: 1s top ease;
    overflow: scroll;
}
.ham-menu.on {
    top: 0;
}
  
body.stop-scrolling {
    overflow: hidden;
}

/* footer menu animation Start */
span.bgani {
    background: rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 23px;
    position: absolute;
    z-index: -1;
    transform: translateX(-100%);
    transition: 1s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.list-unstyled li {overflow: hidden;position: relative;}

/* .list-unstyled li:hover span.bgani {
    transform: translateX(0px);
} */
.list-unstyled li.box-static span.bgani{
    transform: translateX(-100%);
}

.list-unstyled li.box-hover span.bgani {
    transform: translateX(0px);
}
.list-unstyled li.box-out span.bgani {
    transform: translateX(1000%);
}

.footer .list-unstyled li:hover  a {
    margin-left: 10px;
}
.bigMenu li a {
    font-size: 55px;
    line-height: 90px;
}

.bigMenu span.bgani {
    height: 60px;
    top: 21%;
}